/* Font  */

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Playball&family=Poppins:wght@700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Playball&family=Poppins:wght@600&display=swap"); */

body {
  font-family: "Poppins", sans-serif;
}

.title {
  /* margin-left: 50px; */
  padding-left: 100px;
}
.header1 {
  width: 582px;
  height: 270px;
  /* background-color: aquamarine; */
}
.header1-border {
  width: 528px;
  height: 133px;

  /* background-color: aqua; */
  font-size: 45px;
  margin: 5px;
}

.header1-info-border {
  /* @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Playball&family=Poppins:wght@600&display=swap"); */

  width: 505px;
  height: 60.9px;
  font-weight: 600;

  /* background-color: aqua; */
  font-size: 16px;
  margin-top: 0px;
}
.header1-button {
  width: 196px;
  height: 44px;

  background-color: #e02c6d;
  border-radius: 20px;
}

.header1-button-text {
  font-size: 16px;
  padding: 10px 25px;
  color: white;
}
.header1-button-icon {
  margin-left: 5px;
}

.section1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.section1-img {
  width: 440px;
  height: 414px;
}

/* .section-adv {
  width: 1110px;
  height: 110px;
  background-color: aqua;
} */

.adv-border {
  width: 1110px;
  height: 110px;
  background-color: aqua;
}
.section2-title {
  font-size: 28px;
  text-align: center;
  font-weight: 600;
  font-size: 28px;
}

.product-frame {
  width: 329px;
  height: 476px;
  border: 2px solid gold;
  /* align-items: center; */
}

.product-thumbnail {
  width: 300px;
  height: 256px;
}

.product-name {
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 5px;
}

.product-price {
  font-family: "Inter", sans-serif;
  font-size: 24px;
}
