/* Font  */

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Playball&family=Poppins:wght@700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Playball&family=Poppins:wght@600&display=swap"); */

body {
  font-family: "Poppins", sans-serif;
  /* background-color: #aaaaaa; */
}

.title {
  /* margin-left: 50px; */
  padding-left: 100px;
}
.header1 {
  width: 582px;
  height: 270px;
  /* background-color: aquamarine; */
}
.header1-border {
  width: 528px;
  height: 133px;

  /* background-color: aqua; */
  font-size: 45px;
  margin: 5px;
}

.header1-info-border {
  /* @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Playball&family=Poppins:wght@600&display=swap"); */

  width: 505px;
  height: 60.9px;
  font-weight: 600;

  /* background-color: aqua; */
  font-size: 16px;
  margin-top: 0px;
}
.header1-button {
  width: 196px;
  height: 44px;

  background-color: #e02c6d;
  border-radius: 20px;
}

.header1-button-text {
  font-size: 16px;
  padding: 10px 25px;
  color: white;
}
.header1-button-icon {
  margin-left: 5px;
}

.section1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.section1-img {
  width: 440px;
  height: 414px;
}

/* .section-adv {
  width: 1110px;
  height: 110px;
  background-color: aqua;
} */

.adv-border {
  width: 1110px;
  height: 110px;
  background-color: aqua;
}

/* ------------------
      Products
--------------------- */

.product {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.container {
  width: 1047px;
  height: 1662px;
}

.section2-title {
  font-size: 28px;
  text-align: center;
  font-weight: 600;
  font-size: 28px;
}

.product-frames {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.product-frame {
  width: 329px;
  height: 476px;
  border: 2px solid gold;
  align-items: center;
}

.product-margin {
  margin-left: 15px;
}

.product-thumbnail {
  width: 300px;
  height: 256px;
  margin-top: 15px;
}

.product-name {
  font-weight: 400;
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.product-price {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.fa-star {
  font-size: 16px;
}

.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}

.product-rating-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-left: 10px;
}

.product-info {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #787885;
}

.product-next-page {
  font-size: 16;
  text-align: right;
  color: #e02c6d;
  margin-top: 50px;
  /* margin-bottom: 50px; */
}

footer {
  text-align: center;
  /* width: auto; */
  padding-top: 10px;
  padding-bottom: 30px;
  /* margin-bottom: 20px; */

  background-color: rgb(4, 4, 36);
  color: white;
}

.footer-text1 {
  font-size: 24px;
  margin-bottom: 0px;
}

.footer-text2 {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  margin-top: 3px;
}

.fa-instagram {
  padding-right: 10px;
}
.fa-globe {
  padding-right: 10px;
}
.fa-twitter {
  padding-right: 10px;
}

/* ------------------
    Media Queries
--------------------- */

/* Mobile */
@media only screen and (max-width:688px){
  .title{
    text-align: center;
  }
  /* .container{
      width: 100%;
  } */